<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>About us</title>
    <link rel="stylesheet" href="{{url_for('static',filename='aboutpage.css')}}">
</head>

<body>
    <h1>About Us</h1>
    <h4>Why Us?</h4>
    <p>Make an easy pathway for payment and query about fees with the help of chatbot.To support our college administration team with repeated questions about the fees structure.<br></p>
    <p>Providing with payment and fee structure details of students<br>Thankyou!</p>
    <div class="homes">
      <a href="/">Home</a>
    </div>
</body>

</html>
