<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='aboutpage.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
  </head>
  <body>
    <div class="wrapper">
      <h1>PAYMENT FORM</h1>
      <form method="POST">
        <h4>Account</h4>
        <div class="input-group">
          <div class="input-box">
            <input type="text" name="fullname" value="fullname" placeholder="Full Name" class="name">
            <i class="fa fa-user icon"></i>

          </div>

        </div>

      </form>

      </div>

    </div>
  </body>
</html>
