<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='mine.css')}}">
</head>

<body>
  <div class="backgrnd">
        <div class="navbar">
          <img src="download.jpg" alt="not available">
            <div>
                <a href="welcome.html">ADMIN PAGE</a>
            </div>
            <nav>
                <ul id="menu-items">
                    <li><a href="/">Home</a></li>
                    <li><a href="/studentinfo">Update student info</a></li>
                    <li><a href="/payment">Payment status</a></li>
                    <li><a href="/chatbot">Chatbot</a></li>
                </ul>
            </nav>
        </div>
